.page-wrapper {
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    width: 94vw;
    height: 80vh;
    overflow-y: scroll;
  }
  
  .big-header {
    font-size: 40px;
    font-family: gotham-bold;
  }
  
  .small-header {
    padding-left: 20px;
    font-size: 32px;
    font-family: gotham-bold;
    color: #0E8388;
  }
  
  .text-paragraph {
    font-family: gotham-book;
    font-size: 20px;
  }