<div class="page-wrapper">
    <div class="big-header">You've done a good job so far!</div>
    <br>
    <br>
    <div class="text-paragraph">
      &ensp; While our solution is just a simulation device, meant to help get yourself familiarised with core concepts of Blockchain technology and decentralised networks,
      it is not really the <span style="color: darkred; font-weight:bold">real</span> thing, you know?
      <br>
      <br>
      At the end of the day, you are not connected to anyone, and we believe that's where the fun really begins...
    </div>

    <br>
    <br>
    <br>


    
    <div class="big-header">The real thing</div>
    <br>
    <br>
    <div class="text-paragraph">
      &ensp; We strongly recommend you to experiment with <a href="https://blastapi.io/">Blast API</a> and apply what you've learned here. 
      <br>
      <br>
      I'm sure that you will find the ethereum API's really similar with our approach!
    </div>

  
</div>
  
