<div class="page-wrapper">
  <div class="big-header">What is Blockchain?</div>

  <br>
  <br>

  <div class="text-paragraph">
    &ensp;A blockchain is a distributed database or ledger that is shared
    among the nodes of a computer network. As a database, a blockchain stores
    information electronically in digital format. <br><br>Blockchains are best known for
     their crucial role in cryptocurrency systems, such as Bitcoin or Etherium, for maintaining
     a secure and decentralized record of transactions. The innovation with a blockchain is
     that it guarantees the fidelity and
    security of a record of data and generates trust without the need for a trusted third party.

    <br>
    <br>
    <br>
    So, at it's core, Blockchain is a form of a <b>Distributed Database</b>.
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="big-header">Why decentralized is good?</div>

  <div class="text-paragraph">
    <br>
    <br>
    Because dApps(distributed apps) are decentralized, they are free from the control and interference of a single authority.
<br>Benefits of dApps include the safeguarding of <span style="color: #0E8388; font-weight: bold;">user privacy</span>, the <span style="color: darkred; font-weight:bold">lack of censorship</span>, and the flexibility of development.
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="big-header">
    What are the elements of a Blockchain network?
  </div>

  <div class="text-paragraph">
    <br>
    <br>
    This app was made to help you learn the fundamentals of blockchain and give you an intuition about different parts of the system.<br>
    Certain elements represented here might not have very accurate or up-to-date definitions because their purpose is to help you see through the abstractions of a blockchain network.
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="small-header">
    Nodes <fa-icon style="font-size:50px; padding-left: 30px" [icon]="faComputer"></fa-icon>
  </div>
  <br>

  <div class="text-paragraph">Blockchain nodes are network stakeholders and their devices are authorized to keep track of the distributed
     ledger and serve as communication hubs for various network tasks.
    A Blockchain node’s primary job is to confirm the
    legality of each subsequent batch of network transactions, known as blocks.</div>


    <br>
    <br>

    <div class="small-header">
     Blocks <fa-icon style="font-size:50px; padding-left: 30px" [icon]="faSquareCheck"></fa-icon>
   </div>
   <br>

   <div class="text-paragraph">The blocks are the elements which make the electronic ledger. That is essentially a database containing all
    transactions that are constantly updated.
    It is composed of multiple blocks (each containing at least one transaction)
    and these blocks are linked together into a chain using cryptography.
    In other words, the following block will contain the cryptographic
    identifiers of the previous block. So, if any block in the past has a problem,
     it will affect all the blocks at the back of the chain, thus preventing forgery.</div>

     <br>
     <br>

     <div class="small-header">
      Consensus Mechanism <fa-icon style="font-size:50px; padding-left: 30px" [icon]="faHandshake"></fa-icon>
    </div>
    <br>

    <div class="text-paragraph">The consensus mechanism prescribes sets of rules so that
      nodes participating in the peer-to-peer network can work in sync and agree on
       which transactions are legitimate and able to be added to the blockchain through
        interacting with smart contract.
      The consensus mechanism is used to determine the actual state of the blockchain.</div>
      <br>
      <br>







</div>
