<div class="help-icon" matTooltip="Stuck? Ask ChatGPT for help!" matTooltipClass="tooltip" (click)="toggleChat()">

  <fa-icon style="color: #2E4F4F; font-size: 50px" [icon]="faQuestion"></fa-icon>
</div>

<div class="chat-modal" [ngClass]="{'hidden': chatHidden}">
    <div class="messages">
        <div *ngFor="let item of chatConversation">
            <p class="" [ngClass]="item.cssClass">
                {{item.person}} :  {{item.response}}                                                                                                            
            </p>     
        </div>
        <div><img src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" *ngIf="showSpinner" width="50px" height="50px"></div>      
    </div>
    <div class="send-message">
        <textarea [(ngModel)]="message" class="message-input" ></textarea>
        <span class="send-message-btn" (click)="checkResponse()">Send</span>
    </div>
</div>
