body {
  margin: 0;
  padding: 0;
}

nav {
  height: 10vh;
  background: #0E8388;
}

.app-background-global {
  background-color: #2C3333;
  position: absolute;
  height: 90vh;
  width: 100vw;
  top: 10vh;
  left: 0;
}
