<div class="wrapper">

  <div class="node">
    <fa-icon [icon]="faComputer"></fa-icon>
  </div>

  <div *ngFor="let user of nodeUsers" (contextmenu)="openUserMenu($event, user)">
    <div style="position: absolute"
      [ngStyle]="{ 'left.px': user.displayX, 'top.px': user.displayY }">
        <app-user-node-view [userDTO]="user"></app-user-node-view>
    </div>
  </div>

  <div class="node-menu" *ngIf="showUserMenu"
    [ngStyle]="{ 'left.px': userMenuX, 'top.px': userMenuY }">

    <a (click)="transactionModal()">Start a transaction</a>
    <a (click)="setMiningUser()">Set mining user</a>
  </div>

</div>


