<div class="page-wrapper">

  <div class="left-area">
    <div class="left-header">
      my Blockchain network:
    </div>

    <br>
    <br>
    <button *ngIf="!networkInitialized" (click)="initializeNetwork()">Initialize</button>
    <br>
    <br>
    <br>

    <div *ngIf="!networkInitialized">
      <button (click)="openAddNodeModal()">Add node <fa-icon [icon]="faUserPlus"></fa-icon></button>

      <div *ngIf="addingNodeModalVisible" class="adding-node-modal">
        <div class="addingNodeHeader">Add new node:</div>

        <div (click)="addNewNode()" class="add-node-button-close">
          <fa-icon [icon]="faXmark"></fa-icon>
        </div>

        <br>
        <label>Name</label> <br>
        <input type="text" [(ngModel)]="newNode.name">
        <br>
        <br>
        <br>

        <label>Password</label> <br>
        <input type="password" [(ngModel)]="newNode.password">


        <div (click)="addNewNode()" class="add-node-button">
          <fa-icon [icon]="faPlus"></fa-icon>
        </div>
      </div>


    </div>

  </div>

  <div class="right-area">
    <div class="simulation-area">

      <div>
        <div *ngFor="let node of networkNodes">
          <app-network-node [networkNode]="node"></app-network-node>
        </div>

      </div>




    </div>

  </div>





</div>
