<div class="page-wrapper" (click)="showNodeMenu = false; showAddNodeMenu = false">

  <div class="left-area">
    <div class="left-header">
      {{ selectedNode? selectedNode.name : 'my Blockchain network:'}}
    </div>
    <br>
    <br>

    <div *ngIf="!selectedNode"> <!-- meniu daca suntem pe network view -->
      <button *ngIf="!networkInitialized" (click)="initializeNetwork()">Initialize</button>
      <br>
      <br>
      <br>
  
      <div *ngIf="!networkInitialized">
        <button (click)="openAddNodeModal()">Add node <fa-icon [icon]="faUserPlus"></fa-icon></button>
        <br>
        <br>
        <br>

        <button (click)="connectingNodes = true">Connect nodes</button>

        <p>{{ connectingNodes? 'Drag your mouse from a node to another to connect them.' : '' }}</p>

        <div *ngIf="addingNodeModalVisible" class="adding-node-modal">
          <div class="addingNodeHeader">Add new node:</div>
  
          <div (click)="addNewNode()" class="add-node-button-close">
            <fa-icon [icon]="faXmark"></fa-icon>
          </div>
  
          <br>
          <label>Name</label> <br>
          <input type="text" [(ngModel)]="newNode.name">
          <br>
          <br>
          <br>
  
          <label>Password</label> <br>
          <input type="password" [(ngModel)]="newNode.password">
  
  
          <div (click)="addNewNode()" class="add-node-button">
            <fa-icon [icon]="faPlus"></fa-icon>
          </div>
        </div>
  
  
      </div>
    </div>    

    <div *ngIf="selectedNode"> <!-- meniu daca suntem pe node view -->
      <button *ngIf="!networkInitialized" (click)="backToNetworkView()">Back</button>
    </div>

  </div>

  <div class="right-area" >
    <div class="simulation-area">
      <canvas #canvas 
        width="1600" height="830" 
        (contextmenu)="openAddNodeMenu($event)"
        (dragend)="dragNodeEnd($event, undefined)"
        [ngClass]="{'hidden': selectedNode}"></canvas>

      <div *ngIf="!selectedNode">
        <div>
          <!-- <span style="position: relative; left: 780px; top: 400px">O</span> -->
          <div *ngFor="let node of networkNodes" 
            (contextmenu)="openNodeMenu($event, node)">
            
            <div style="position: absolute" 
              [ngStyle]="{ 'left.px': node.displayX, 'top.px': node.displayY }" 
              (dblclick)="selectedNode = node"
              (drag)="dragNode($event, node)"
              (dragstart)="dragNodeStart($event, node)"
              (dragend)="dragNodeEnd($event, node)">
                <app-network-node [networkNode]="node"></app-network-node>
            </div>
            <div class="node-menu" *ngIf="showNodeMenu"
              [ngStyle]="{ 'left.px': nodeMenuX, 'top.px': nodeMenuY }">

              <a (click)="toggleMining()">Start/Stop mining</a>
            </div>
            <div class="node-menu" *ngIf="showAddNodeMenu"
              [ngStyle]="{ 'left.px': nodeMenuX, 'top.px': nodeMenuY }">

              <a (click)="addNode()">Add node here</a>
            </div>
          </div>
          
        </div>
      </div>

      <app-node-view *ngIf="selectedNode" [node]="selectedNode"></app-node-view>
    </div>
  </div>
</div>
