/* You can add global styles to this file, and also import other style files */

$background-color: #2C3333;
$base-color: #2E4F4F;
$navbar-color: #0E8388;
$bright-color: #CBE4DE;


body {
  margin: 0;
  padding: 0;
  background-color: #2C3333;
}

@font-face {
  font-family: gotham-bold;
  src: url(assets/GothamBold.ttf) format("opentype");
}

@font-face {
  font-family: gotham-book;
  src: url(assets/GothamBook.ttf) format("opentype");
}

@font-face {
  font-family: gotham-light;
  src: url(assets/GothamLight.ttf) format("opentype");
}
